---
---

<center><h1>üìç üìç Overview of Subsetting in Pandas üìç üìç</h1></center>



---

#### `TABLE OF CONTENTS`

- What is an index?
- How to subset first N rows based on their position index?
- Can we change the index?
- Will the index be always numeric?
- How to subset the data based on a label of the index?
- Can we reset the index?
- How to subset the data based on a value of a column?

---


#### `READ THE DATA`

- In this notebook, we are going to use the big mart sales data that we have used previously. It is stored in the folder name `datasets`.

In [1]:
# import the pandas library
import pandas as pd

In [22]:
# read the big mart sales data
data = pd.read_csv('datasets/big_mart_sales.csv')

#### `WHAT IS INDEX?`

![](index.png)

-  You can see the index object by `DataFrame.index`.

In [3]:
# index of the dataframe
data.index

RangeIndex(start=0, stop=8523, step=1)

***So, In this case, we have the numeric index value start from the 0 and ends at 8523.***

In [4]:
# no. of rows and columns in the data
data.shape

(8523, 12)

In [5]:
# column index
data.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

#### `HOW TO SUBSET FIRST 'N' ROWS BASED ON THEIR POSITION INDEX?`

In [6]:
# view the top rows of the data
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [7]:
data.tail()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

---

#### `CAN WE CHANGE THE INDEX?`

---

***The answer is `Yes`. We can change the index. Let's see how?***

---

#### Create a random list of 8523 numbers and set it as the index
---

In [8]:
# create random list
import random
random_list = [random.randint(1, 8523) for i in range(8523)]

In [9]:
random_list

[584,
 116,
 401,
 6349,
 388,
 1464,
 5257,
 5859,
 1860,
 894,
 8357,
 5247,
 4298,
 1903,
 7781,
 7064,
 5003,
 662,
 7313,
 1644,
 423,
 6957,
 5169,
 649,
 4303,
 6629,
 3181,
 1088,
 6675,
 4485,
 1177,
 4578,
 6888,
 7477,
 3617,
 6243,
 6311,
 6114,
 2651,
 517,
 6525,
 6439,
 5125,
 5740,
 1209,
 1452,
 7242,
 944,
 6058,
 3634,
 191,
 7045,
 6886,
 6500,
 8321,
 6081,
 3617,
 1680,
 2757,
 8083,
 3306,
 5538,
 3961,
 5474,
 160,
 23,
 5348,
 5802,
 3398,
 3965,
 5905,
 1666,
 5116,
 1363,
 6845,
 3212,
 5986,
 702,
 6914,
 5347,
 3790,
 131,
 6379,
 8128,
 8383,
 4319,
 7429,
 3180,
 553,
 7258,
 876,
 7418,
 5052,
 1031,
 1989,
 2281,
 2768,
 4208,
 3118,
 5131,
 7869,
 1672,
 6649,
 2136,
 269,
 7239,
 5147,
 97,
 765,
 1606,
 1289,
 2124,
 6170,
 8011,
 6378,
 6875,
 5525,
 681,
 7272,
 5418,
 6250,
 2694,
 7152,
 8049,
 2373,
 3555,
 2142,
 2154,
 4684,
 1273,
 1115,
 483,
 7622,
 6430,
 1923,
 5200,
 3783,
 2185,
 2225,
 2354,
 6748,
 5437,
 4633,
 7385,
 4069,
 8253,
 1292,
 6353,
 386,
 5434,
 7325,
 6189,
 1816,
 1967,
 2010,
 734,
 6022,
 6325,
 3347,
 235,
 3752,
 3609,
 1628,
 5072,
 1893,
 7634,
 7258,
 4322,
 1678,
 6747,
 1195,
 6212,
 1160,
 10,
 3394,
 5244,
 2599,
 3379,
 4469,
 3285,
 2948,
 1615,
 4416,
 7242,
 1119,
 6760,
 4193,
 3299,
 5116,
 7779,
 7278,
 1764,
 6183,
 2495,
 5408,
 5747,
 5593,
 2650,
 5978,
 5114,
 1411,
 3885,
 936,
 3744,
 6522,
 6964,
 3113,
 8078,
 913,
 4832,
 2034,
 1156,
 5646,
 2646,
 4272,
 59,
 5308,
 1622,
 4503,
 5278,
 3323,
 1426,
 2061,
 6358,
 5252,
 1138,
 4816,
 518,
 388,
 2461,
 5175,
 590,
 6701,
 539,
 728,
 5468,
 8499,
 411,
 4289,
 6287,
 3603,
 5642,
 6532,
 1271,
 2686,
 1885,
 4923,
 3644,
 4876,
 658,
 1865,
 1142,
 7626,
 761,
 3582,
 1751,
 7873,
 256,
 3317,
 3505,
 326,
 3507,
 2618,
 1533,
 2424,
 5563,
 6086,
 1320,
 6457,
 5606,
 3025,
 3891,
 2807,
 4608,
 8076,
 4990,
 5694,
 1616,
 2419,
 3414,
 3273,
 2796,
 7967,
 2858,
 1949,
 7423,
 1465,
 4468,
 7521,
 5502,
 3,
 5476,
 6768,
 5999,
 775,
 5579,
 882,
 2744,
 1860,
 8123,
 2780,
 829,
 3030,
 8164,
 5720,
 5129,
 1118,
 4860,
 738,
 1661,
 4720,
 7285,
 2029,
 5154,
 1183,
 6019,
 4709,
 2276,
 6467,
 4810,
 5816,
 7380,
 4835,
 5328,
 409,
 2230,
 5904,
 1966,
 2506,
 6834,
 7660,
 7871,
 1615,
 3141,
 4979,
 6069,
 548,
 2043,
 628,
 5186,
 6770,
 899,
 6703,
 6735,
 1571,
 5464,
 7697,
 2836,
 8457,
 2224,
 7979,
 6851,
 6689,
 2012,
 502,
 1324,
 7,
 2832,
 7133,
 3231,
 5118,
 8344,
 4472,
 6438,
 3260,
 4771,
 3084,
 1918,
 6116,
 7988,
 3137,
 8479,
 1873,
 5537,
 4294,
 3231,
 2391,
 7475,
 3757,
 4760,
 1912,
 3229,
 6299,
 4982,
 4175,
 4336,
 2918,
 918,
 414,
 5000,
 4562,
 5088,
 8304,
 475,
 5614,
 1545,
 5421,
 210,
 6072,
 3305,
 7668,
 3166,
 353,
 7876,
 5067,
 5052,
 1100,
 7222,
 4432,
 7634,
 2091,
 4790,
 2027,
 3024,
 5994,
 5534,
 7917,
 6327,
 6101,
 5883,
 8397,
 148,
 1916,
 5226,
 366,
 6023,
 5507,
 5961,
 2345,
 4338,
 3548,
 906,
 6437,
 1574,
 7567,
 6054,
 4764,
 8129,
 6015,
 405,
 6743,
 3895,
 122,
 4452,
 1371,
 4218,
 1678,
 7475,
 4649,
 3312,
 954,
 1577,
 5478,
 3682,
 3753,
 7316,
 4936,
 2545,
 4952,
 5757,
 5774,
 6558,
 2910,
 3976,
 7927,
 3741,
 2651,
 984,
 5496,
 666,
 7998,
 2346,
 4196,
 7065,
 594,
 2275,
 7362,
 745,
 579,
 3968,
 305,
 7794,
 2418,
 6372,
 2698,
 1119,
 3796,
 6224,
 523,
 3937,
 5068,
 265,
 3361,
 857,
 4441,
 5644,
 436,
 90,
 1578,
 6688,
 646,
 5319,
 1278,
 5135,
 7464,
 5019,
 4889,
 3168,
 182,
 4307,
 2868,
 6315,
 2798,
 4351,
 683,
 7512,
 3556,
 2237,
 4102,
 6270,
 2962,
 5911,
 767,
 6764,
 3038,
 4915,
 3743,
 2405,
 2922,
 6273,
 2030,
 2103,
 976,
 6112,
 4803,
 2098,
 631,
 276,
 7089,
 6283,
 5210,
 1521,
 1326,
 4477,
 2656,
 4837,
 2253,
 4938,
 7415,
 1506,
 1947,
 6740,
 854,
 7304,
 5005,
 7655,
 2627,
 6157,
 5144,
 8484,
 5529,
 5099,
 7305,
 75,
 6388,
 2931,
 5529,
 3056,
 6268,
 4267,
 898,
 6906,
 3187,
 7162,
 5746,
 8388,
 3251,
 2716,
 4917,
 7285,
 4116,
 733,
 7649,
 6367,
 1370,
 6400,
 6993,
 3010,
 6288,
 3324,
 2854,
 5050,
 223,
 2424,
 7607,
 8430,
 8376,
 6071,
 6925,
 353,
 1712,
 793,
 5125,
 5859,
 8158,
 3452,
 505,
 4726,
 2341,
 666,
 5257,
 4432,
 443,
 17,
 3070,
 1643,
 7774,
 5124,
 3978,
 5018,
 7805,
 7136,
 5286,
 4201,
 8054,
 1524,
 587,
 5066,
 6995,
 2333,
 987,
 1973,
 3972,
 8336,
 3660,
 3150,
 1095,
 7588,
 4375,
 6691,
 7773,
 6317,
 5826,
 3340,
 6981,
 7608,
 7746,
 151,
 2183,
 3106,
 686,
 5780,
 2219,
 1159,
 8399,
 1199,
 6657,
 7975,
 2873,
 1437,
 2407,
 3125,
 8279,
 8322,
 1268,
 7334,
 3738,
 1658,
 2645,
 1373,
 3945,
 5729,
 108,
 7733,
 3876,
 1016,
 7947,
 2642,
 4742,
 3953,
 5731,
 3245,
 3336,
 686,
 1584,
 2700,
 463,
 6166,
 7317,
 7414,
 4474,
 6904,
 4693,
 2712,
 702,
 5623,
 6015,
 2064,
 774,
 461,
 5634,
 961,
 1300,
 4284,
 2785,
 7629,
 595,
 7287,
 6270,
 4836,
 1008,
 5217,
 5475,
 1543,
 1817,
 875,
 2868,
 5858,
 2723,
 1984,
 2274,
 848,
 5368,
 5260,
 4788,
 7185,
 758,
 7859,
 3047,
 5213,
 5113,
 5380,
 6247,
 2460,
 6009,
 745,
 4658,
 6963,
 208,
 5677,
 3208,
 3425,
 2204,
 4681,
 5093,
 5899,
 879,
 8411,
 2730,
 7729,
 1665,
 7642,
 1973,
 1934,
 2146,
 4426,
 6269,
 5954,
 8291,
 2980,
 8082,
 2443,
 8097,
 7444,
 4133,
 2233,
 1595,
 6427,
 7845,
 6439,
 2646,
 2923,
 3905,
 6092,
 2879,
 5268,
 6618,
 5640,
 1623,
 6777,
 3396,
 6714,
 4222,
 6763,
 6770,
 1284,
 6440,
 1860,
 1175,
 8421,
 2727,
 2940,
 1679,
 509,
 6398,
 4714,
 3071,
 6771,
 959,
 2869,
 5660,
 8019,
 7227,
 3721,
 7162,
 2430,
 761,
 1579,
 6723,
 6976,
 3820,
 3860,
 5952,
 4465,
 772,
 1983,
 2689,
 6008,
 1134,
 3295,
 1654,
 1220,
 594,
 3609,
 3144,
 4194,
 4491,
 7355,
 3923,
 6021,
 2872,
 3577,
 5452,
 4322,
 4394,
 5303,
 3468,
 547,
 5415,
 4486,
 4221,
 931,
 7760,
 7780,
 8148,
 8318,
 1789,
 5520,
 5457,
 7880,
 3875,
 2516,
 1498,
 5945,
 2521,
 159,
 4247,
 8498,
 1452,
 2058,
 8059,
 6703,
 1901,
 5349,
 4531,
 2605,
 5962,
 747,
 5713,
 4375,
 6660,
 4405,
 220,
 1963,
 1024,
 2682,
 8017,
 7428,
 1445,
 714,
 1208,
 3937,
 5613,
 8292,
 6601,
 3267,
 5249,
 5725,
 1546,
 8148,
 5695,
 2769,
 8155,
 6171,
 2865,
 298,
 792,
 2605,
 4306,
 2143,
 1091,
 2949,
 1720,
 6306,
 3610,
 2794,
 3870,
 2129,
 6159,
 1794,
 2486,
 2418,
 2707,
 963,
 2818,
 2778,
 419,
 5134,
 2220,
 789,
 6684,
 6829,
 1151,
 7120,
 72,
 6436,
 2799,
 4955,
 7730,
 7077,
 558,
 5834,
 3727,
 3567,
 8192,
 6764,
 1157,
 4233,
 6322,
 5240,
 1066,
 5290,
 7952,
 4402,
 6911,
 2240,
 1446,
 177,
 1453,
 1308,
 2860,
 132,
 2938,
 5405,
 6460,
 158,
 6366,
 1628,
 7148,
 4397,
 6810,
 1690,
 6669,
 6634,
 2634,
 7492,
 519,
 7528,
 5545,
 2126,
 1401,
 7213,
 3078,
 2306,
 1840,
 6968,
 3384,
 2487,
 3444,
 7209,
 5574,
 3469,
 151,
 769,
 1367,
 1652,
 110,
 8294,
 3325,
 1875,
 1117,
 3515,
 7582,
 4925,
 2623,
 3061,
 5114,
 7833,
 5363,
 6162,
 ...]

In [10]:
# set the index
data.index = random_list

In [11]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
584,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
116,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
401,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
6349,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
388,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

***Set another column of the dataframe as the index. We will use the set_index function. You can read more about here: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.set_index.html'***

---

In [27]:
# 1. change the index of the dataframe
# 2. drop=True is used to drop the column that's set as index
# 3. inplace=True is used to make changes in the original dataframe

data = pd.read_csv('datasets/big_mart_sales.csv')

data.set_index('Outlet_Establishment_Year', drop=True, inplace=False)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Outlet_Establishment_Year,,,,,,,,,,,
1999,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
2009,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228
1999,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700
1998,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,NaN,Tier 3,Grocery Store,732.3800
1987,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...
1987,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,High,Tier 3,Supermarket Type1,2778.3834
2002,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,NaN,Tier 2,Supermarket Type1,549.2850
2004,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,Small,Tier 2,Supermarket Type1,1193.1136
2009,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,Medium,Tier 3,Supermarket Type2,1845.5976
1997,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,Small,Tier 1,Supermarket Type1,765.6700

In [28]:
# example of a label based index
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [11]:
data.index

Int64Index([1999, 2009, 1999, 1998, 1987, 2009, 1987, 1985, 2002, 2007,
            ...
            2004, 2002, 2009, 2009, 1997, 1987, 2002, 2004, 2009, 1997],
           dtype='int64', name='Outlet_Establishment_Year', length=8523)

In [26]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Outlet_Establishment_Year,,,,,,,,,,,
1999,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
2009,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228
1999,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700
1998,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,NaN,Tier 3,Grocery Store,732.3800
1987,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052

In [15]:
# 1. change the index of the dataframe
# 2. drop=True is used to drop the column that's set as index
# 3. inplace=True is used to make changes in the original dataframe
# data = pd.read_csv('datasets/big_mart_sales.csv')

data.set_index('Item_Fat_Content', drop=True, inplace=True)

In [16]:
# example of a label based index
data.head()

,Item_Weight,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Fat_Content,,,,,,,,,
Low Fat,9.30,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
Regular,5.92,0.019278,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228
Low Fat,17.50,0.016760,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700
Regular,19.20,0.000000,Fruits and Vegetables,182.0950,OUT010,NaN,Tier 3,Grocery Store,732.3800
Low Fat,8.93,0.000000,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052

In [17]:
data.index

Index(['Low Fat', 'Regular', 'Low Fat', 'Regular', 'Low Fat', 'Regular',
       'Regular', 'Low Fat', 'Regular', 'Regular',
       ...
       'Regular', 'Regular', 'Low Fat', 'Low Fat', 'reg', 'Low Fat', 'Regular',
       'Low Fat', 'Regular', 'Low Fat'],
      dtype='object', name='Item_Fat_Content', length=8523)

---

### `WILL THE INDEX BE ALWAYS NUMERIC?`

---


***No, We can also have categorical variables as the index of a dataframe.*** 

---

In [24]:
# reset the index
data.set_index('Item_Identifier', drop= True, inplace=True)

In [25]:
# view the top rows of the data
data.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Identifier,,,,,,,,,,
FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228
FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700
FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,NaN,Tier 3,Grocery Store,732.3800
NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052

In [26]:
# index of the data
data.index

Index(['FDA15', 'DRC01', 'FDN15', 'FDX07', 'NCD19', 'FDP36', 'FDO10', 'FDP10',
       'FDH17', 'FDU28',
       ...
       'FDH31', 'FDA01', 'FDH24', 'NCJ19', 'FDF53', 'FDF22', 'FDS36', 'NCJ29',
       'FDN46', 'DRG01'],
      dtype='object', name='Item_Identifier', length=8523)

---

#### `HOW TO SUBSET THE DATA BASED ON THE LABEL OF THE INDEX?`

- We can subset the data based on the label of the index using the loc function.
---

In [27]:
data.loc['FDA15']

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Identifier,,,,,,,,,,
FDA15,9.3,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
FDA15,9.3,Low Fat,0.016055,Dairy,250.2092,OUT045,NaN,Tier 2,Supermarket Type1,5976.2208
FDA15,9.3,Low Fat,0.016019,Dairy,248.5092,OUT035,Small,Tier 2,Supermarket Type1,6474.2392
FDA15,9.3,Low Fat,0.016088,Dairy,249.6092,OUT018,Medium,Tier 3,Supermarket Type2,5976.2208
FDA15,9.3,Low Fat,0.026818,Dairy,248.9092,OUT010,NaN,Tier 3,Grocery Store,498.0184
FDA15,9.3,Low Fat,0.016009,Dairy,250.6092,OUT013,High,Tier 3,Supermarket Type1,6474.2392
FDA15,NaN,Low Fat,0.015945,Dairy,249.5092,OUT027,Medium,Tier 3,Supermarket Type3,6474.2392
FDA15,9.3,LF,0.016113,Dairy,248.8092,OUT017,NaN,Tier 2,Supermarket Type1,5976.2208

***What if we want to change the index back to positional?***

---

#### `CAN WE RESET THE INDEX?`

***Yes, we can reset the index. Let's see how? We will use the reset_index function. You can read more about here: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reset_index.html***

---

In [28]:
# reset the index
data.reset_index(inplace=True)

In [29]:
# view the top rows of the data
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052

#### `HOW TO SUBSET THE DATA BASED ON A VALUE OF A COLUMN?`

---

In [29]:
data[data['Item_Type'] == 'Dairy']

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
11,FDA03,18.500,Regular,0.045464,Dairy,144.1102,OUT046,1997,Small,Tier 1,Supermarket Type1,2187.1530
19,FDU02,13.350,Low Fat,0.102492,Dairy,230.5352,OUT035,2004,Small,Tier 2,Supermarket Type1,2748.4224
28,FDE51,5.925,Regular,0.161467,Dairy,45.5086,OUT010,1998,NaN,Tier 3,Grocery Store,178.4344
30,FDV38,19.250,Low Fat,0.170349,Dairy,55.7956,OUT010,1998,NaN,Tier 3,Grocery Store,163.7868
...,...,...,...,...,...,...,...,...,...,...,...,...
8424,FDC39,7.405,Low Fat,0.159165,Dairy,207.1296,OUT035,2004,Small,Tier 2,Supermarket Type1,3739.1328
8447,FDS26,20.350,Low Fat,0.089975,Dairy,261.6594,OUT017,2007,NaN,Tier 2,Supermarket Type1,7588.1226
8448,FDV50,14.300,Low Fat,0.123071,Dairy,121.1730,OUT018,2009,Medium,Tier 3,Supermarket Type2,2093.9410
8457,FDY50,5.800,Low Fat,0.130931,Dairy,89.9172,OUT035,2004,Small,Tier 2,Supermarket Type1,1516.6924
8512,FDR26,20.700,Low Fat,0.042801,Dairy,178.3028,OUT013,1987,High,Tier 3,Supermarket Type1,2479.4392

In [30]:
data.loc[30]

Item_Identifier                      FDV38
Item_Weight                          19.25
Item_Fat_Content                   Low Fat
Item_Visibility                   0.170349
Item_Type                            Dairy
Item_MRP                           55.7956
Outlet_Identifier                   OUT010
Outlet_Establishment_Year             1998
Outlet_Size                            NaN
Outlet_Location_Type                Tier 3
Outlet_Type                  Grocery Store
Item_Outlet_Sales                  163.787
Name: 30, dtype: object

----

#### `WE WILL SEE HOW TO SUBSET THE DATA BASED ON POSITION, LABEL AND VALUES IN DETAIL`

---